In [1]:
import os
import pandas as pd

In [2]:
csv_folder = r"C:\Users\31645\Documents\vsProjects\esa\datasets-main\lc-1"

In [3]:
sum_df = pd.DataFrame()

In [4]:
sum_dict = {}

In [5]:
for filename in os.listdir(csv_folder):
    if filename.endswith('.csv'):
        # Read the CSV file into a DataFrame
        df = pd.read_csv(os.path.join(csv_folder, filename))
        
        # Check if the 'urbanization' column exists in the DataFrame
        if 'Urban areas' in df.columns:
            # Sum the 'urbanization' column and add it to the sum DataFrame
            year_sum = df.groupby('year')['Urban areas'].sum()
            for year, value in year_sum.items():
                sum_dict[year] = sum_dict.get(year, 0) + value

# Convert the dictionary to a DataFrame
sum_df = pd.DataFrame(list(sum_dict.items()), columns=['Year', 'Global Urbanization Sum'])

# Convert the sum DataFrame to integer (if needed)
sum_df = sum_df.astype(int)

In [7]:
sum_df.to_csv('sumGlobal.csv')

In [8]:
sum_df

    Year  Global Urbanization Sum
0   1992                   337016
1   1993                   346794
2   1994                   356563
3   1995                   366547
4   1996                   376551
5   1997                   386039
6   1998                   395972
7   1999                   405361
8   2000                   415557
9   2001                   444522
10  2002                   472918
11  2003                   500654
12  2004                   529438
13  2005                   548001
14  2006                   564929
15  2007                   582429
16  2008                   598639
17  2009                   613482
18  2010                   628174
19  2011                   642057
20  2012                   659351
21  2013                   684527
22  2014                   707953
23  2015                   721345

In [12]:
13* 7

91

In [11]:
1992 + 11.5

2003.5

In [7]:
sum_df.diff()

    Year  Global Urbanization Sum
0    NaN                      NaN
1    1.0                   9778.0
2    1.0                   9769.0
3    1.0                   9984.0
4    1.0                  10004.0
5    1.0                   9488.0
6    1.0                   9933.0
7    1.0                   9389.0
8    1.0                  10196.0
9    1.0                  28965.0
10   1.0                  28396.0
11   1.0                  27736.0
12   1.0                  28784.0
13   1.0                  18563.0
14   1.0                  16928.0
15   1.0                  17500.0
16   1.0                  16210.0
17   1.0                  14843.0
18   1.0                  14692.0
19   1.0                  13883.0
20   1.0                  17294.0
21   1.0                  25176.0
22   1.0                  23426.0
23   1.0                  13392.0

In [20]:
721345/337016

2.1403879934483823

In [7]:
18 * 8

144

In [8]:
721345 *2

1442690

In [11]:
33.7 *2

67.4

In [12]:
144/2

72.0

In [ ]:
33.7 *2